.vs/rakuten_scraper/v17/DocumentLayout.json
.vs/rakuten_scraper/v17/DocumentLayout.backup.json
.vs/rakuten_scraper/v17/.suo
.vs/rakuten_scraper/FileContentIndex/8250f4e1-48e9-4392-bd53-99d116b0c7cd.vsidx
.vs/rakuten_scraper/FileContentIndex/5ce4b6fe-268a-4e75-8858-f890a4edf23e.vsidx
.vs/rakuten_scraper/FileContentIndex/55d3b73b-3d06-458f-b46b-e35f96bb763c.vsidx
.vs/rakuten_scraper/FileContentIndex/17aeb53c-a009-43e6-85e2-8bd339b3f61e.vsidx
.vs/rakuten_scraper/FileContentIndex/05389a0f-db01-4211-adeb-2a36f3cb1196.vsidx
.vs/rakuten_scraper/DesignTimeBuild/.dtbcache.v2
